.task-bar{
    margin-top: auto;
    background-color: #225cda;
    width: 100vw;
    height: 45px;
    display: flex;
    align-items: center;
}
.btn-home{
    padding: 0;
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(#307c30, #2d993e);
    font-size: 20px;
    font-weight: bold;
}