@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');
.page-loading{
  background-color: #fff; 
  font-family: 'Roboto', sans-serif; 
  color: #fff;
}
.window{
  position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
 
}
.container{
  width: 200px;
  height: 10px;
  border: 2px solid #b2b2b2;
  border-radius: 7px;
  margin: 0 auto;
  padding: 2px 1px;
  overflow: hidden;
  font-size: 0;
}
.box{
  width: 12px;
  height: 100%;
  background: linear-gradient(to bottom, #2838c7 0%,#5979ef 17%,#869ef3 32%,#869ef3 45%,#5979ef 59%,#2838c7 100%);
  display: inline-block;
  margin-right: 2px;
  animation: loader 2s infinite;
  animation-timing-function: linear;
}
.logo{
  width: 250px;
  margin: 50px auto;
}
.logo p{
  margin: 0;
  padding: 0;  
}
.top{
  font-size: 20px;
  font-weight: 300;
  line-height: 16px;
}
.top:after{
  content:"\00a9";
  font-size: 16px;
  position: relative;
  top: -5px;
  margin-left: 2px;
}
.mid{
  font-size: 52px;
  font-weight: 700;
  line-height: 36px;  
}
.mid span{
  font-size: 22px;
  display: inline-block;
  vertical-align: top;
  color: #FF6821;
  margin-top: -8px;
}
.logo .bottom{
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-left: 5px;
  
}
.footer-loading{
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    align-items: end;
}
@keyframes loader{
  0%{
    transform: translate(-30px);
  }
  100%{
    transform: translate(150px);
  }
}
